:root {
  --c-brand: var(--indigo-6);

  --c-text-primary: var(--gray-11);
  --c-text-secondary: var(--gray-9);
  --c-text-interactive: var(--orange-6);
  --c-text-interactive-hover: var(--orange-8);

  --c-text-interactive-secondary: var(--brown-6);
  --c-text-success: var(--green-7);
  --c-text-inactive: var(--gray-6);
  --c-text-error: var(--red-6);
  --c-text-alternate: var(--sand-2);
  --c-bg-primary: var(--gray-1);
  --c-bg-secondary: var(--gray-4);
  --c-bg-tertiary: var(--gray-5);
  --c-bg-alternate: var(--sand-9);
  --c-bg-inactive: var(--gray-1);

  --c-text-tag-1: var(--blue-6);
  --c-text-tag-2: var(--purple-8);
  --c-text-tag-3: var(--orange-7);


  --c-bg-tag-1: var(--blue-1);
  --c-bg-tag-2: var(--purple-1);
  --c-bg-tag-3: var(--orange-1);

  --c-op-kind-read: var(--c-text-tag-2);
  --c-op-kind-modify: var(--c-text-tag-1);
  --c-op-kind-subscribe: var(--c-text-tag-3);
  --c-op-kind-other: var(--c-text-inactive);

  --c-box-shadow: var(--c-bg-secondary);
}
[data-theme='dark'] {
  --c-brand: var(--indigo-3);

  --c-text-primary: var(--gray-3);
  --c-text-secondary: var(--gray-6);
  --c-text-interactive: var(--orange-3);
  --c-text-interactive-hover: var(--orange-6);

  --c-text-interactive-secondary: var(--brown-7);
  --c-text-success: var(--green-4);
  --c-text-inactive: var(--gray-5);
  --c-text-error: var(--red-4);
  --c-text-alternate: var(--gray-8);
  --c-bg-primary: var(--gray-12);
  --c-bg-secondary: var(--gray-8);
  --c-bg-tertiary: var(--gray-9);
  --c-bg-alternate: var(--gray-2);
  --c-bg-inactive: var(--gray-10);

  --c-text-tag-1: var(--indigo-2);
  --c-text-tag-2: var(--teal-2);
  --c-text-tag-3: var(--orange-3);

  --c-bg-tag-1: var(--indigo-8);
  --c-bg-tag-2: var(--teal-8);
  --c-bg-tag-3: var(--orange-10);

  --c-op-kind-read: var(--c-text-tag-2);
  --c-op-kind-modify: var(--c-text-tag-1);
  --c-op-kind-subscribe: var(--c-text-tag-3);
  --c-op-kind-other: var(--c-text-inactive);

  --c-box-shadow: hsla(0, 0%, 100%, 0.1);
}

:root {
  --c-required: var(--c-text-error);
  --c-deprecation-info: color-mix(in srgb, var(--c-text-error) 100%, transparent 30%);
  --c-deprecation-info-bg: color-mix(in srgb, var(--c-text-error) 20%, transparent 80%);
  --c-deprecation-info-border: color-mix(in srgb, var(--c-text-error) 100%, transparent 0%);



}

:root {
  background-color: var(--c-bg-primary);
  color: var(--c-text-primary);
  a,
  a:visited {
    color: var(--c-text-interactive);
    text-decoration: none;
  }
  a:hover,
  a:hover * {
    color: var(--c-text-interactive-hover)!important;
  }
}
